@charset "UTF-8";
/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

@font-face {
    font-family: AvenirLight;
    font-weight: normal;
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}
@font-face {
    font-family: AvenirBook;
    font-weight: normal;
    src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
    font-family: AvenirBlack;
    font-weight: normal;
    src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}
@font-face {
    font-family: MontserratBold;
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}
@font-face {
    font-family: MontserratRegular;
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.btn, button {
    font-family: 'MontserratRegular';
}
.lstbutton {
    background-color: #463082;
    font-weight: bold;
    color: #fff;
}
.navbar-brand {
    /*padding: 0px;*/
    
    padding: 5px 15px;
}
.navbar-brand > img {
    /*height: 220%;
padding: 0px;
width: 100%;*/
    
    height: 45px;
}
.navbar-toggler {
    color: #333;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    padding: 5px 3px;
    border: none !important;
}
.navbar-default {
    background-color: transparent;
    /*background-color: #edeede;*/
    
    border: 0 none !important;
    margin-bottom: 0px;
    /*padding-bottom: 12px;*/
    
    font-family: "MontserratRegular", arial, serif;
    letter-spacing: 0px;
}
.navbar-default .container-fluid {
    padding-right: 0px;
    box-shadow: 2px 2px 8px #333;
}
.navbar-nav > li > a {
    padding: 8px 10px 0 10px;
}

.navbar-nav > li.active > a{
    color: #333 !important;
}
.dropdown:hover .dropdown-menu {
    /*display: block;*/
}
#morefilter .list-group {
    border-top: 0px;
    margin-bottom: 0px;
}
#morefilter {
    /*margin-top: 54px !important;*/
    
    overflow-y: scroll;
    /*max-height: 435px;*/
}
.collapse.in {
    margin-top: 1%;
}
#search-form {
    display: block;
    text-align: center;
    border: 0px !important;
}
.search-top {
    position: absolute;
    top: 10px;
    left: 25%;
    width: 40%;
}
#btnrefine{
    position: absolute;
    top: 10px;
    right: 10%;
}
/*.collapse.in{
  margin-top: 55px !important;
}*/
/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.example3 .nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
}
.example4 .nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
}
/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */

.navbar-nav > li > .dropdown-menu {
    z-index: 9999;
}
body {
    font-family: 'AvenirLight', arial, serif;
    font-weight: 100;
    /*letter-spacing:1px;*/
    
    margin: 0;
}
.font-montserrat-regular {
    font-family: 'MontserratRegular', arial, serif;
}
.font-montserrat {
    font-family: 'Montserrat';
}
.font-aveneair-light {
    font-family: 'AvenirLight', arial, serif;
}
input.error {
    border: 1px solid red !important;
}
label.error {
    font-weight: normal;
    color: red;
}
.big-form-group label.error {
    font-size: 14px;
}
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 15px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2px 10px;
    /*margin-top:0px;*/
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.inpt {
    width: 20%;
    margin-left: 200px;
}
.inpt1 {
    width: 32%;
    margin-left: 0px;
}
:-ms-input-placeholder {
    font-size: 11px !important;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.btn {
    background-color: #463082;
    border-radius: 5px;
    color: #fff;
    border-color: #463082;
}
.btn-green {
    background-color: #51bc6a;
    border-color: #51bc6a;
    color: #fff;
    border-radius: 5px;
}
.btn-orange {
    background-color: #FFA500;
    border-color: #FFA500;
    color: #333;
    border-radius: 5px;
}
.lightgray-text {
    color: #899295 !important;
}
.blue-text {
    color: #463082 !important;
}
.purple-text{
    color: #800080 !important;
}

.pnl-heading {
    background-color: #463082;
    width: 100%;
    padding: 5px 15px;
}
.radio-btn {
    background-color: #463082;
    display: inline-table;
    margin-top: 0px;
    color: #fff;
    font-weight: 100;
    padding: 12px;
    border-radius: 5px;
}
.list {
    margin-right: -70px;
}
.inptlist {
    margin-left: 38px;
    margin-top: 10px;
}
.inptlist1 {
    margin-left: -85px;
    margin-top: 10px;
}
.radiolst {
    padding-top: 10px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    text-align: center;
    display: inline-table;
    margin-top: 0px;
    color: #463082;
    border: 1px solid #d8d8d8;
    border-radius: 5px 0px 0px 5px;
}
.searchbox {
    margin-right: 550px;
    margin-top: 10px;
    width: 55%;
}
.menu {
    border-right: 1px solid #000;
    padding-right: 12px;
    margin-left: -14px;
    margin-right: 0px;
    font-size: 18px;
    color: #463082;
}
.collepseli {
    background-color: #fff;
    border: 1px solid #463082;
    color: #463082 !important;
}
.col-radiolst {
    padding-top: 10px;
    margin-left: -4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    text-align: center;
    display: inline-table;
    margin-top: 0px;
    color: #463082;
    border: 1px solid #d8d8d8;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
}
li {
    color: #fff;
}
#matchingList {
   /* position: absolute;
    left: -60px;
    z-index: 2;
    background: transparent;
    color: #fff;
    bottom: 0px !important;
    border-bottom: 95px solid #463082;
    border-right: 95px solid transparent;*/
    position: absolute;
    background-color: #463082;
    bottom: 35px;
    color: #fff;
    left: 20px;
    z-index: 1;
    padding: 10px;
    font-weight: bold !important;
    border-radius: 5px;
    opacity: 1 !important;
}
#totalListCount {
    font-size: 20px;
}
.customeText,
.customeNumber {
    display: inline-flex;
    /*width: 120px;*/
}
.customeText .form-control,
.customeNumber .form-control {
    height: 30px;
    position: relative;
    top: 2px;
    width: 100px;
}
.customFormControl {
    display: inline-flex;
    /*margin-bottom: 0;*/
    
    margin-left: 10px;
    /*top: 13px;*/
    
    left: 15px;
}
.customFormControl .glyphicon-calendar {
    cursor: pointer;
}
.form-control-feedback{
    color: #333 !important;
}
#searchPropertyListing {
    float: right;
    /*height: 650px;
  overflow-y: scroll;*/
    /*width: 25%;*/
    /*min-height: 83%;*/
    
    height: 645px;
    overflow-y: scroll;
    padding: 5px 0px 4px 22px;
}
#searchPropertyListing .item-block {
    cursor: pointer;
    padding: 10px 0;
}

#searchPropertyListing .thumbnail {
    padding: 0;
    margin-bottom: 5px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #ddd !important;
    height: 95px;
    width: 100%;
}
/*.item-block .glyphicon, #myRentalList .glyphicon{
  font-size: 12px !important;
}*/

.backToList .glyphicon {
    font-size: 12px !important;
}
.item-block #property-slider img {
    /*width: auto;
    height: 350px;
    margin: 0 auto;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;*/
    height: auto;
    /*margin: auto !important;*/
    max-height: 350px;
    object-fit: cover;
    object-position: center center;
    vertical-align: middle;
    width: auto;
    text-align: center; margin: 1em 0;
}
.carousel-item .item{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 350px;
}
.slider-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.gm-style-iw > div {
    /*height: auto !important;*/
    
    height: 207px !important;
    overflow-y: scroll;
}

#info-window-details .item {
    background-color: #333 !important;
}
.item-block .fa,
.item-block .glyphicon {
    cursor: pointer;
}
.carousel-control .glyphicon {
    color: #333;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
}
.block .blockImg {
    height: 88px;
    margin: 0 auto !important;
    /*width: 100%;*/
    
    max-width: 100%;
    border-radius: 0px;
}
.sidebar-item-img-div {
    background-color: #444;
}
.list_rental_block .address,
.list_rental_block .type,
.list_rental_block .phone {
    color: #000;
}
.list_rental_block .listedDate{
    color: #a9a9a9;
}
.list_rental_block p {
    line-height: 1.1;
}
.col-sm-12 hr {
    border-color: #463082;
    margin: 10px 0;
}
.lightgray {
    border-color: lightgray !important;
}
.block .address,
.block .phone,
.block .type {
    font-size: 12px;
    float: left;
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /*font-weight: bold;*/
    
    font-family: 'AvenirLight', arial, serif;
}
.title-1 {
    font-size: 21px;
}
.title-2 {
    font-size: 19px;
}
.title-3 {
    font-size: 17px;
}
.title-4 {
    font-size: 15px;
}
.title-5 {
    font-size: 13px;
}
.block .price {
    font-size: 28px;
    margin-top: 1px;
    font-family: 'MontserratRegular', arial, serif;
    margin: 0 0 3px;
}
#searchPropertyListing .item-panel,
#propertyDetail .item-panel {
    position: relative;
    overflow-y: hidden;
    padding: 10px;
    border: 1px solid #f0f0f2;
    background: #fbfbfd;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
#propertyDetail .thumbnail,
#propertyDetail .thumb {
    padding: 7px 4px 20px;
}
#propertyDetail .editBtnLink {
    float: right;
}
.property-description {
    background: none;
    border: none;
    font-family: 'MontserratRegular';
    font-size: 16px;
    word-break: break-word;
    white-space: pre-line;
    display: inline-flex;
}
#searchPropertyListing .block {
    /*border-bottom: 1px solid #463082;*/
    
    cursor: pointer;
}
#googlemaps,
#googlemap {
    height: 83%;
    /*width: 75%; */
    
    position: absolute;
    /*top: 16.2%; */
    
    left: 0;
    z-index: 0;
    /* Set z-index to 0 as it will be on a layer below the contact form */
}
#googlemap .gmnoprint{
    display: none;
}
#currentUser {
    /*width: 110px;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;*/
}
/**
 * toggle
 * --------------------------------------------------
 */

.toggle {
    height: 14px;
}
.toggle input[type="checkbox"],
.toggle input[type="radio"] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    text-indent: -100000px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.toggle .handle {
    position: relative;
    top: 0px;
    bottom: 20px;
    left: 0;
    display: block;
    width: 78px;
    height: 35px;
    background-color: #ED2028;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 0 1px #white;
    -moz-box-shadow: inset 0 0 0 1px #white;
    box-shadow: inset 0 0 0 1px #white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
#propertyDetail .handle {
    top: -23px;
}
.toggle .handle:before,
.toggle .handle:after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 20px;
    height: 24px;
    content: "";
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 0 1px #fff, 1px 1px 1px white;
    -moz-box-shadow: inset 0 0 0 1px #fff, 1px 1px 1px white;
    box-shadow: inset 0 0 0 1px #fff, 1px 1px 1px white;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
.toggle input[type="checkbox"]:disabled + .handle,
.toggle input[type="radio"]:disabled + .handle,
.toggle input[type="checkbox"]:disabled + .handle:before,
.toggle input[type="radio"]:disabled + .handle:before,
.toggle input[type="checkbox"]:disabled + .handle:after,
.toggle input[type="radio"]:disabled + .handle:after {
    background-color: #e6e9ed;
    filter: alpha(opacity=60);
    opacity: .6;
}
.toggle input[type="checkbox"]:checked + .handle:before,
.toggle input[type="radio"]:checked + .handle:before {
    width: 80px;
    background-color: #22B14C;
    content: "";
    top: 0px;
    height: 35px;
    left: -2px;
    border-radius: 15px;
}
.toggle input[type="checkbox"]:checked + .handle:after,
.toggle input[type="radio"]:checked + .handle:after {
    left: 50px;
    content: "";
    color: green;
    -webkit-box-shadow: inset 0 0 0 1px #f5f7fa, 1px 1px 1px #c7ccd3;
    -moz-box-shadow: inset 0 0 0 1px #f5f7fa, 1px 1px 1px #c7ccd3;
    box-shadow: inset 0 0 0 1px #f5f7fa, 1px 1px 1px #c7ccd3;
}
.toggle-handle {
    background-color: #fff;
}
.handle .Yes {
    left: 12px;
}
.toggleValue {
    top: 11px;
    position: absolute;
    left: 32px;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
}
.toggleValue.Active {
    left: 10px;
}

.bigToggle .toggleValue.Active{
    left: 20px;
    top: 5px;
}

.bigToggle .toggleValue {
    top: 5px;
    font-size: 11px;
}

.bigToggle.toggle .handle{
    width: 100px;
    height: 23px;
    font-size: 11px;
}

.bigToggle.toggle input[type="checkbox"]:checked + .handle:before,
.bigToggle.toggle input[type="radio"]:checked + .handle:before {
    width: 105px;
    height: 23px;
}

.bigToggle.toggle input[type="checkbox"]:checked + .handle:after,
.bigToggle.toggle input[type="radio"]:checked + .handle:after {
    left: 83px;
}

.bigToggle.toggle .handle:before,
.bigToggle.toggle .handle:after {
    height: 15px;
    width: 14px;
    top: 3.5px;
    left: 3px;
}

.activateDiv {
    top: 12px;
}
.isActiveLabel, #uploadPropertyBtn{
    margin-top: 12px;
    padding: 10px;
}
.modal-footer .toggle-on.btn,
.modal-footer .toggle.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.modal-footer .toggle-off.btn,
.modal-footer .toggle.btn-danger {
    background-color: #c9302c;
    border-color: #c9302c;
}
# {
    position: relative;
    z-index: 1;
    /* The z-index should be higher than Google Maps */
    
    width: 100%;
    margin: 0px auto 0;
    padding: 8px 0px 6px 0px;
    background: #fff;
    height: auto;
    color: white;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {
    float: left;
    padding-right: 10px;
}
ul.topnav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: #463082;
}
ul.topnav li a:hover {
    background-color: #555;
}
ul.topnav li.icon {
    display: none;
}
#profileSection .panel-contaner{
    border: 1px solid #463082;
}
#updateProfileSection .panel-default .panel-heading {
    border: 1px solid;
}
.delete-account {
    margin-right: 100px;
}
#filtercontainer {
    position: relative;
    z-index: 1;
    /* The z-index should be higher than Google Maps */
    
    width: 100%;
    margin: 0 auto 0;
    padding: 4px 0px;
    /*background: #463082;*/
    
    background: #553d98;
    height: auto;
    opacity: 1;
    /* Set the opacity for a slightly transparent Google Form */
    
    color: white;
    font-family: 'AvenirLight', arial, serif;
}
#filtercontainer .form-group {
    margin-bottom: 5px !important;
}

#filtercontainer .panel-heading {
    background-color: #553d98 !important;
    padding-top: 5px;
    padding-bottom: 8px;
    /*height: 54px !important;*/
}
#filtercontainer .panel-default {
    position: absolute;
}
#filtercontainer .form-control {
    height: 32px;
}
#filtercontainer .dropdown-toggle {
    height: 33px;
}
#updateProfileSection .panel-body {
    padding-top: 45px;
}
#updateProfileSection .avatar {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.more:hover {
    text-decoration: none;
}
.more .glyphicon {
    font-size: 14px;
    margin-left: 5px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #463082 !important;
    color: #fff !important;
}
.uploader {
    position: relative;
    overflow: hidden;
    height: 160px;
    background-image: url("../img/backplus.png");
    background-repeat: no-repeat;
    background-size: 15% auto;
    background-position: center;
    /*background: transparent;*/
    
    border: 2px dashed #e8e8e8;
    cursor: pointer;
    padding: 5px;
    color: #555;
    font-family: 'MontserratRegular';
    font-weight: bold;
    margin-bottom: 20px;
}
.uploader:hover {
    color: #999;
}
.uploadingBtnSpinner{
    position: relative;
    bottom: 66px;
    color: #333;
}
.filePhoto {
    display: none;
}
.uploader img {
    position: absolute;
    height: 362px;
    top: -1px;
    left: -1px;
    z-index: 1;
    border: none;
    background-color: #eee;
}
@media screen and (max-width: 680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width: 680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/* CSS Document */

ul.topnav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav1 li {
    float: left;
}
ul.topnav1 li a {
    display: inline-block;
    /*color: #fff;*/
    
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    /*background-color: #463082;*/
}
ul.topnav1 li a:hover {
    background-color: #fff;
}
ul.topnav1 li.icon {
    display: none;
}
@media screen and (max-width: 680px) {
    ul.topnav1 li:not(:first-child) {
        display: none;
    }
    ul.topnav1 li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width: 680px) {
    ul.topnav1.responsive {
        position: relative;
    }
    ul.topnav1.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav1.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav1.responsive li a {
        display: block;
        text-align: left;
    }
}
/*PopUp Window for Login */

.input {
    border: 1px solid #333;
}
.required {
    font-size: 14px;
}
.required:after {
    content: " *";
    color: red;
}
#logindiv {
    /*display:none;
  margin-top:10px;
  margin-left:20px;*/
    
    border: 2px solid #333;
    padding: 25px !important;
    background: #fff;
    /* width:280px*/
    
    ;
    text-align: center;
}
#popuplogin {
    display: none;
    padding: 10px;
    /*background:#969696;*/
    
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 99999;
    opacity: 100%;
    max-width: 400px;
}
#popupinfo {
    padding: 2px;
    text-align: center;
    /*background:#cfcfcf;*/
}
#popupinfo p {
    font-size: 14px;
}
#popupinfo .button {
    text-align: center;
}
#popupinfo .button a {
    text-decoration: none;
    border: 1px solid #333;
    width: 20px;
    padding: 5px;
    background: #1A1A1A;
    color: #eee;
}
#popupinfo .button a:hover {
    background: #eee;
    color: #1a1a1a;
}
#masklogin {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
.btnsignin {
    background-color: #fff;
    border: none;
    color: #463082;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
}
.property-pic {
    margin: 0 auto;
    height: 160px !important;
    padding: 0px !important;
}
.table-thumb {
    height: 105px;
    min-width: 105px;
    margin: 0 auto;
    /*width: 150px;*/
    object-position: center;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    display: block;
}
.table-condensed .active {
    background-color: #463082;
    color: #fff;
    text-align: center;
}
.text-blue {
    color: #463082;
}
.text-gray {
    color: #463082;
}
.text-black {
    color: #111;
}
.text-white {
    color: #fff;
}
.prop-title {
    color: #463082;
    font-size: 18px;
}
#legend {
    font-family: 'MontserratRegular', Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}
#legend h2 {
    margin-top: 0;
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#cover,
#rentalLoad,
#uploadingLoad {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #FFF;
    /*background: url("../../assets/img/loader.gif") no-repeat scroll center center #FFF;*/
    
    text-align: center;
    filter: alpha(opacity=20);
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1225;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.5;
}
#rentalLoad {
    position: absolute;
    height: 400px;
    opacity: 0.4;
}
#uploadingLoad {
    position: absolute;
    height: 100%;
    opacity: 0.4;
}
.managePropertyTopSec, .propertyListTopSec, .myrentalsTopSec{
    position: absolute;
}   

.myrentalsTopSec{
    top: 1%;
    left: 36%;   
}
.managePropertyTopSec{
    top: 1%;
    left: 36%;   
}
.managePropertyTopSec h2{
    font-size: 20px !important;
}
.myrentalsTopSec h4{
    color: #463082 !important;
}
/*.glyphicon {
  font-size: 25px;
}*/

/*#propertyDetail .glyphicon,*/
.edit-property .glyphicon,
.remove-property .glyphicon {
    font-size: 15px;
}
#propertyDetailMailForm .fa-facebook-square {
    font-size: 29px !important;
}
.sb-container {
    //ShareButtons Holder
}
.sb-title {
    //Share Title
}
.sb-count {
    //Total Share Count
}
.sb-button button {
    //Buttons Container
    border-radius: 20px !important;
    height: 30px !important;
    width: 6px !important;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 25px !important;
}
.sb-style {
    width: 30px;
    margin: 0px !important;
}
.sb-btn {
    //Share Button, the container of the button template 
}
.sb-btn-count {
    //Button Share Count
}
.buttonlogin {
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 15%;
    background-color: #5ab8f8;
    color: #fff;
    font-size: 21px;
    border-radius: 8px;
}
.closeWindowButton {
    position: absolute;
    top: 0px;
    z-index: 1;
    right: 0px;
    padding: 0px 5px;
}
/*PopUp Window Register*/

.input {
    border: 1px solid #333;
}
#registerDiv {
    /*display:none;
  margin-top:10px;
  margin-left:20px;*/
    
    border: 2px solid #333;
    padding: 25px !important;
    background: #fff;
    /* width:280px*/
    
    ;
    text-align: center;
}
#popupregister {
    display: none;
    padding: 10px;
    /*background:#969696;*/
    
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 99999;
    opacity: 100%;
    max-width: 400px;
}
#popupinfo {
    padding: 2px;
    text-align: center;
    /*background:#cfcfcf;*/
}
#popupinfo p {
    font-size: 18px;
}
#popupinfo .button {
    text-align: center;
}
#popupinfo .button a {
    text-decoration: none;
    border: 1px solid #333;
    width: 20px;
    padding: 5px;
    background: #1A1A1A;
    color: #eee;
}
#popupinfo .button a:hover {
    background: #eee;
    color: #1a1a1a;
}
#maskregister {
    /*background: #000;*/
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
.btnsignin,
#userEmail {
    background-color: #fff;
    border: none;
    color: #463082;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
    font-weight: 400;
}
.btnlstrental {
    text-transform: uppercase;
}
.pac-container {
    z-index: 10000 !important;
}
div.pac-container {
    z-index: 10000 !important;
}
.modal {
    z-index: 20 !important;
}
.modal-backdrop {
    z-index: 10 !important;
}
#addressMap {
    /*width:500px;*/
    
    width: 100%;
    height: 320px;
    margin-bottom: 10px;
}
.glyphicon-download {
    font-size: 1.5em;
}
.dropzone {
    text-align: center;
    font-size: 18px;
}
.dropzone .dz-preview .dz-image {
    z-index: 8 !important;
}
.dz-image img {
    max-height: 130px;
}
#dropzoneFileUpload {
    cursor: pointer;
    padding: 2px 5px !important;
    margin-bottom: 0px;
}
.dropzone .dz-preview {
    margin: 6px !important;
    height: 100px;
}
.dz-details img {
    max-width: 107px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
.dz-message span{
    font-size: 12px;
}
#dropzoneFileUpload .glyphicon-remove {
    background: #fff none repeat scroll 0 0;
    border-radius: 12px;
    cursor: pointer !important;
    font-size: 12px;
    height: 20px;
    left: 20px;
    margin-left: 35px;
    margin-top: 5px !important;
    padding: 4px 3px 1px;
    position: relative;
    top: -98px;
    width: 20px;
    z-index: 20;
}
.dz-error {
    display: none;
}
.dropzone-drop-area {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    &:hover {
        color: darkorange;
        border-color: darkorange;
    }
}
.dropzone {
    background: #DDDDDD none repeat scroll 0 0 !important;
    border: 2px dashed #333 !important;
    color: #333 !important;
}
#propertyForm input[type=radio],
#propertyForm input[type=checkbox],
#updatePropertyFrm input[type=radio],
#updatePropertyFrm input[type=checkbox],
.refine input[type=radio],
.refine input[type=checkbox],
.refineinput[type=radio],
.refine input[type=checkbox],
#updateProfileForm input[type=radio],
#updateProfileForm input[type=checkbox] {
    display: none;
}
#propertyForm input[type=number],
#updatePropertyFrm input[type=number] {
    width: 150px;
}
#propertyForm .signDollar,
#updatePropertyFrm .signDollar {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
#propertyForm .has-feedback,
#updatePropertyFrm .has-feedback {
    position: absolute;
    left: 140px;
}
#propertyForm label {
    /*font-weight: normal;*/
}
#propertyForm .form-group,
#updatePropertyFrm .form-group {
    margin-bottom: 10.5px !important;
}
#propertyForm input#termLengthCustom,
#updatePropertyFrm input#termLengthCustom {
    width: 75px;
}
#propertyForm input#DateAvailable,
#updatePropertyFrm input#DateAvailable {
    width: 170px;
}
#propertyForm .modal-body{
    padding: 12px 15px;
}
#propertyForm .modal-footer{
    padding: 0px 15px 10px;
}
.ng2-datetime-picker {
    background-color: blue;
}
textarea {
    resize: none;
    height: 70px !important;
}
.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* Hide arrow */

.tooltip.customClass .tooltip-arrow {
    display: none;
}
input[type=radio] + label,
input[type=checkbox] + label {
    display: inline-block;
    margin: 2px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255,255,255,0.75);*/
    
    vertical-align: middle;
    cursor: pointer;
    background-color: #EEEEEE;
    border: 0px solid #EEE;
    border-radius: 4px;
}
input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #463082;
    color: #fff;
    text-shadow: 0px;
}
input[type=radio] + label:hover,
input[type=checkbox] + label:hover {
    background-color: #916EE8;
    color: #fff;
}
input[type=radio]:checked + label:hover,
input[type=checkbox]:checked + label:hover {
    background-color: #463082;
}
#uploadImageSection {
    margin-top: 20px;
}
#uploadImageSection input[type=text],
#uploadImageSection textarea,
#uploadImageSection button {
    margin-bottom: 5px;
}
#addImageUploadDiv .glyphicon {
    font-size: 15px;
}
/*td{
  border:none!important;
}*/

td .btn {
    display: inline !important;
    margin-right: 5px;
}
/*Pop up Login button */

.btnpopuplogin {
    background-color: #fff;
    border: none;
    color: #463082;
    padding: 0px;
}
.btnclosepopup {
    position: absolute;
    top: 3%;
    right: -39%;
    font-size: 30px;
    background-color: #fff;
    border: none;
    font-family: 'MontserratRegular';
    color: #c6c6cc;
    font-weight: 100;
}
p {
    font-size: 15px;
    font-family: 'AvenirLight', arial, serif;
}
span {
    font-family: 'MontserratRegular', arial, serif;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "MontserratRegular", arial, serif;
}
h2 {
    margin-bottom: 20px;
    color: #463082;
}
/*--------- New changes ----------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ED2028;
    -webkit-transition: .4s;
    transition: .4s;
    width: 100px;
    height: 25px;
    font-weight: bolder;
    font-size: 12px;
    padding: 4px 0 4px 25px;
}
input:checked + .slider {
    padding: 4px 25px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    right: 80px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    right: 30px;
}
input:checked + .slider {
    background-color: #22B14C;
}
input:focus + .slider {
    box-shadow: 0 0 1px #22B14C;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.buttonreg {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    background-color: #51bc6a;
    color: #fff;
    font-size: 21px;
    border-radius: 8px;
}
.cursor-pointer {
    cursor: pointer;
}
.cross-img {
    right: 8px;
    top: 6px;
    background-color: #FFF;
    padding: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 22px;
    line-height: 14px;
    border-radius: 50%;
}
#info-window-details .cross-img {
    padding: 4px 3px 4px 5px;
}
#info-window-details {
    display: block !important;
}
input[type='number'] {
    -moz-appearance: textfield !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
.borderless td,
.borderless th {
    border: none !important;
}
.mrg0 {
    margin: 0px !important;
}
.mrg15 {
    margin: 15px;
}
.mrgT10 {
    margin-top: 10px;
}
.mrgL10 {
    margin-left: 10px;
}
.mrgR10 {
    margin-right: 10px;
}
.mrgT5 {
    margin-top: 5px;
}
.mrgT15 {
    margin-top: 15px;
}
.mrgB0 {
    margin-bottom: 0px !important;
}
.mrgB5 {
    margin-bottom: 5px !important;
}
.mrgB10 {
    margin-bottom: 5px !important;
}
.mrgT0 {
    margin-top: 0px !important;
}
.padL0 {
    padding-left: 0px !important;
}
.padR0 {
    padding-right: 0px !important;
}
.padR15 {
    padding-right: 15px;
}
.pad0 {
    padding: 0px !important;
}
.pad3{
    padding: 3px !important;
}
.pad5 {
    padding: 5px !important;
}
.pad10 {
    padding: 10px !important;
}
.pad15 {
    padding: 15px !important;
}
.pad20 {
    padding: 20px !important;
}
.padT7 {
    padding-top: 7px !important;
}
.padT10 {
    padding-top: 10px !important;
}
.padB10 {
    padding-bottom: 10px !important;
}
.w120 {
    min-width: 120px;
}
.wd50 {
    width: 50px !important;
}
.wd100 {
    width: 100px !important;
}
.fs15 {
    font-size: 15px !important;
}
.fs20 {
    font-size: 20px !important;
}
.br0 {
    border-radius: 0px !important;
}

.btnsetview {
    position: absolute;
    right: -5px;
    z-index: 2;
    background: transparent;
    color: #fff;
    bottom: 0px;
    border-bottom: 95px solid #463082;
    border-left: 95px solid transparent;
}
.btnsetview span, .glyphicon-eye-open{
    bottom: -82px;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    color: #fff;
}
.btnsetview .glyphicon-eye-open{
    font-size: 18px;
    top: 40px;
    position: absolute;
    right: 20px;
}
.checkbox-inline {
    margin-left: 0 !important;
}
.logo-small {
    /*display: none !important;*/
    
    height: 40px;
    margin: 0 auto;
}
.gm-style-iw {
    /*max-width: 415px !important;
    width: 305px !important;
    left: 25px !important;*/
    
    top: 22px !important;
}
.gm-style-iw > div > div:nth-child(1) {
    height: 205px !important;
    /*width: 335px !important;*/
}
.gm-style-iw + div {
    display: none;
}
/*.gm-style .gm-style-iw {
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            display: block !important;
         }*/
/*style the arrow*/
/*.gm-style div div div div div div div div {
    padding: 0;
    margin: 0;
    top: 0;
    color: #fff;
    font-size: 16px;
}*/

.gm-style-iw {
    width: 300px !important;
}
/*.infowindow-property-pic {
    border: none;
    border-radius: 0;
    margin: 0px auto;
    object-fit: none; 
    object-position: center; 
    height: 160px !important;
    padding: 0 !important;
    width: 300px;
}*/

.infowindow-property-pic {
    border: none;
    border-radius: 0;
    margin: 0 auto;
    height: 166px !important;
    padding: 0 !important;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.gm-style div:not(.infowindow-arrow-down) {
    background-color: #fff !important;
}
.gm-style div:not(.infowindow-arrow-down) {
    background-color: transparent !important;
    box-shadow: none !important;
}
.infowindow-caption {
    background-color: #463082 !important;
    padding: 2px 0px 0px 0px;
}
.infowindow-caption h6 {
    padding-top: 7px;
}
.infowindow-arrow-down {
    border-top: 24px solid #fff !important;
}
.refine .input-group-addon {
    padding: 0px 8px !important;
    background-color: #fff;
    border: 0px;
}
.bootstrap-select {
    width: 100% !important;
}
.bootstrap-select.btn-group .dropdown-menu {
    margin-top: 0px;
    top: 95%;
}
.bootstrap-select .btn {
    background-color: #fff !important;
    border-color: #463082 !important;
    /*border-radius: 0 !important;*/
    
    color: #333;
}
.datepicker .today {
    text-align: center;
}

.selectiongroup,
.selbtngroup,
.selectiongroup .selection,
.selectiongroup .btnpicker {
    border-radius: 5px !important;
}
.selectiongroup .selection {
    font-size: 15px !important;
    font-family: 'MontserratRegular' !important;
    font-weight: normal;
}
.ngxmdp {
    border: none !important;
}
.ngxmdp .header tr td:nth-child(3n+3) {
    display: none;
}
.ngxmdp .selectiongroup {
    border: 1px solid #d8d8d8 !important;
}
./*ngxmdp,*/
.ngxmdp .selectiongroup,
.ngxmdp .selection,
.ngxmdp .selbtngroup,
.ngxmdp .btnpicker,
.ngxmdp .icon {
    height: 30px !important;
}
.ngxmdp .icon {
    line-height: 30px !important;
}

.ngxmdp .headertodaybtn{
    font-size: 15px !important;
    height: 30px !important;
    min-width: 100px !important;
    max-width: 70px !important;
    margin: 5px 0px !important;
}

ngb-datepicker {
    display: block !important;
}

.ngxmdp .headerbtncell{
    vertical-align: top !important;
}
.ngxmdp-custome .btn-default{
    background: transparent !important;
    background-color: #fff !important;
    color: #333 !important;
    border-color: #e4e5e7 !important;
    padding: 5px !important;
}
.ngxmdp-custome .btn-green{
    background-color: #2f0 !important;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.ui-datepicker-close {
    /*display: none !important;*/
}
.ui-datepicker-current {
    float: none !important;
    width: 140px !important;
}
.ui-datepicker-buttonpane {
    text-align: center !important;
    border-bottom: 1px solid #dddddd !important;
    border-top: 0 none !important;
    margin: 0 0 5px !important;
}
.ui-datepicker-buttonpane .ui-datepicker-current {
    /*width: 100% !important;*/
    
    background: #463082 !important;
    color: #fff !important;
    opacity: 1 !important;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    font-size: 12px;
}
.prop-fac-div img {
    width: 40px;
    display: inline;
    margin-left: 10px;
}
.prop-fac-div span {
    /*margin-top: 2px;
  font-size: 12px;*/
}
.top-form-group {
    left: 32%;
    position: absolute;
    top: 20%;
    width: 55%;
}
.top-form-group .glyphicon {
    right: 20px;
}
.big-form-group {
    font-size: 18px;
}
.big-form-group .form-control {
    font-size: 18px;
    height: 46px;
    width: 180px !important;
}
.big-form-group b {
    margin-top: 10px !important;
}
.big-form-group {
    font-size: 18px;
}
.free {
    backface-visibility: hidden;
    background-color: #aa0000;
    border: 2px dotted #ffffff;
    box-shadow: 0 0 0 3px #aa0000, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'MontserratRegular';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 6px 43px;
    position: fixed;
    right: -35px;
    text-decoration: none;
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
    top: 0;
    transform: rotate(45deg);
    width: 122px;
    z-index: 4;
}
.navbar-right {
    margin-right: 0px !important;
}
#search-input {
    width: 500px;
}
.blueLabelButton {
    background-color: rgb(70, 48, 130) !important;
    background-image: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    color: #fff !important;
    outline: 0 none !important;
}
.listRentalFreeLi {
    background-color: #463082;
    padding: 0 14px 6px 0 !important;
}
.listRentalFreeLi span,
.listRentalFreeLi span:hover {
    color: #fff !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 20px !important;
    font-size: 15px !important;
}
.listRentalFreeLi .free-img {
    height: 55px;
    /*height: 35px;
width: 55px;*/
}
#userLoginModal .btn,
#userRegisterModal .btn {
    border-radius: 5px !important;
    font-size: 18px;
    min-width: 240px;
    padding: 10px 15px !important;
}
#userLoginModal .close,
#userRegisterModal .close {
    font-size: 20px !important;
    height: 25px;
}
#userLoginModal input,
#userRegisterModal input {
    padding: 8px 10px !important;
}
.alert {
    left: 40%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 19%;
    z-index: 1400;
    display: none;
}
.min-max-div .form-control {
    height: 32px;
    margin-top: 1px;
}
.totext {
    margin: 5px 2px 0 1px;
}
#myRentalListActionDiv {
    margin-top: 55px;
}
.carousel-indicators {
    bottom: 0px;
}
.carousel-indicators li,
.carousel-indicators .active {
    margin-left: 6px;
}
.carousel-control {
    width: 5%;
    opacity: 1;
}
.carousel-control .glyphicon {
    font-size: 35px !important;
}
#Tabs {
    position: absolute !important;
    z-index: 1 !important;
    top: 0px;
    left: 40%;
    opacity: .85 !important;
    background: #fff !important;
    border-radius: 3px !important;
    border: 1px solid !important;
    height: 32px !important;
}
#propertyDetail .tab-content {
    border: 1px solid #333;
}
.mapPictureTab {
    margin-top: 8px;
}
#tabPic {
    border-right: 1px solid #e2e2e6;
}
#Tabs button {
    background-color: #fff;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 6px 15px !important;
    margin-right: 0 !important;
}
#Tabs button.active{
    background-color: #463082 !important;
    color: #fff !important;
}
multiselect {
    display: block;
    color: green !important;
}
multiselect > .btn-group {
    width: 100%;
}
multiselect .dropdown-toggle:after {
    content: none;
}
multiselect .btn {
    width: 100%;
    color: #687175;
    font-weight: lighter;
    background-color: #FFF;
}
multiselect .btn.has-error {
    border: 1px solid #a94442 !important;
    color: #db524b;
}
multiselect .dropdown-menu {
    max-height: 300px;
    /*min-width: 200px;*/
    width: 100%;
    overflow-y: auto;
}
multiselect .dropdown-menu .filter > input {
    width: 99%;
}
multiselect .dropdown-menu .filter .clear-filter {
    cursor: pointer;
    pointer-events: all;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
multiselect .dropdown-menu {
    /* width: 100%; */
    
    box-sizing: border-box;
    padding: 2px;
}
multiselect > .btn-group > button {
    padding-right: 20px;
}
multiselect > .btn-group > button > .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    right: 5px;
    top: 45%;
    position: absolute;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 1px;
    cursor: pointer;
}
multiselect .dropdown-menu > li > a i {
    margin-right: 0px;
}
.glyphicon-none:before {
    content: "\e013";
    color: transparent !important;
}

.popover-top, .popover-bottom{
    background-color: #333;
    color: #fff;
}

.popover-arrow arrow, .popover.top>.arrow:after, .popover.bottom>.arrow:after{
    border-top-color: #333 !important;
    border-bottom-color: #333 !important;
}


@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}
@-moz-keyframes spin-moz {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-webkit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@media screen and (max-width: 1200px) and (min-width: 0px) {
    .prop-fac-div img {
        width: 35px;
    }
    #search-input {
        width: 300px;
    }
    .clear-more {
        padding: 6px 8px;
    }
    .search-top {
        left: 30%;
        width: 30%;
    }
    .managePropertyTopSec, .myrentalsTopSec{
        left: 29%;   
    }
    .managePropertyTopSec h2{
        font-size: 18px !important;
    }
}
@media screen and (max-width: 991px) and (min-width: 0px) {
    .navbar-brand {
        padding: 10px;
    }
    .navbar-brand > img {
        /*height: 220%;
padding: 0px;
width: 100%;*/
        
        height: 30px;
    }
    .listRentalFreeLi span,
    .listRentalFreeLi span:hover {
        padding-right: 0px !important;
        font-size: 15px !important;
    }
    #search-input {
        width: 200px;
    }
    .search-top {
        left: 25%;
        width: 28%;
    }
    .managePropertyTopSec, .myrentalsTopSec{
        left: 30%;   
    }
    .managePropertyTopSec h2{
        font-size: 14px !important;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    #filtercontainer {
        height: 100px;
    }
    #filtercontainer .panel-default {
        right: 0;
        top: -6px;
    }
    #searchPropertyListing {
        position: absolute;
        top: 980px;
    }
}
@media screen and (max-width: 767px) and (min-width: 0px) {
    .pad0-xs{
        padding: 0px;
    }
    .pad5-xs{
        padding: 5px;
    }
    .pad10-xs{
        padding: 10px;
    }
    .collapse.in {
        margin-top: 0px;
    }
    #managePropertySection.container, #myRentalsSection.container{
        padding: 0px !important;
    }
    #maprentalsNavbar,
    .navbar-toggleable-xs {
        background-color: #FFA500;
        position: absolute;
        width: 50%;
        z-index: 1200;
        top: 53px;
        right: 0px;
    }
    .navbar-brand > img {
        height: 40px;
    }
    .navbar-brand {
        height: 30px;
        padding-top: 0px;
    }
    .navbar-toggle {
        margin-bottom: 0px;
        color: #fff !important;
        padding: 7px 3px 5px;
    }
    .navbar-default {
        background-color: #463082;
    }
    .navbar-default .navbar-header {
        margin-top: 10px;
    }
    /*.navbar-default {
        padding-bottom: 12px;
    }*/
    
    .navbar-default .container-fluid {
        padding-right: 15px;
        padding-bottom: 12px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav > li > a:hover:hover {
        color: #fff !important;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
        background-color: #463082;
    }
    .navbar-nav > li > a: hover,
    .navbar-nav > li > a: focus {
        color: #888 !important;
    }

    .navbar-nav{
        margin: 0.5px -15px;
    }

    li.unAuthMenus{
        background-color: #463082;
    }

    .homeToListRentals{

    }
    #morefilter {
        margin-top: 0px !important;
        background-color: #DDDDDD;
        height: 390px !important;
    }
    
    #propertyDetail .thumbnail,
    #propertyDetail .thumb {
        padding: 0px 0px 20px;
    }
    #propertyDetail .handle {
        top: -28px;
    }

    #propertyDetail .editBtnLink {
        float: none;
    }

    .toggle .handle {
        top: -20px;
    }

    #myRentalsSection tr td{
        padding: 5px 5px
    }

    .prop-fac-div img {
        width: 25px;
        margin-right: 5px;
    }
    .col-sm-12 hr {
        margin: 5px 0px;
    }
    
    .table-thumb {
        height: 105px;
        min-width: 85px;
    }
    /*.infowindow-property-pic{
        width: 75%;
    }
    .infowindow-caption{
        left: 12.5%;
    }*/

    .closeWindowButton {
        padding: 5px 10px;
    }
    .search-top {
        left: 18%;
        width: 48%;
    }
    #filtercontainer {
        height: 0px;
        position: absolute;
        padding: 0px;
    }
    #filtercontainer .panel-default {
        right: 0;
        top: -20px;
    }
    #googlemaps,
    #googlemap {
        height: 90% !important;
    }
    #searchPropertyListing {
        position: absolute;
        top: 70px;
        /*overflow: hidden;*/
    }
    .block .blockImg {
        height: 120px;
        width: 100%;
    }
    .usermenuli,
    #currentUser {
        display: block;
    }
    #addressMap {
        height: 320px;
    }
    .list_rental_block {
        height: 120px;
    }
    .item-block #property-slider img {
        /*height: 177px;
        width: auto;*/

        height: auto;
        margin: auto !important;
        max-height: 177px;
        object-fit: cover;
        object-position: center center;
        width: auto;
    }
    /*.carousel-inner>.item{
        max-height: : 250px;
    }*/
    .carousel-item .item{
        height: 177px;
    }
    .backToList {
        /*left: 30%;*/
        position: absolute;
        /*margin-top: 8px;*/
        padding: 0px 10px;
        background-color: #30215C;
        height: 34px;
    }
    .propertyListTopSec{
        top: 12px;
        left: 35%;
    }
    .managePropertyTopSec{
        top: 10px;
        left: 35%;  
    }
    .managePropertyTopSec h2{
        font-size: 14px !important;
        color: #fff;
    }

    .myrentalsTopSec h4{
        color: #fff !important;
    }

    .activateDiv {
        top: 25px;
    }    
    .isActiveLabel, #uploadPropertyBtn{
        margin-top: 0px;
    }
    .goToContactButton{
        margin-left: 138px;
    }
    .backToListButton{
    }
    .btn-pad-override {
        padding: 4px 5px !important;
    }
    .price {
        font-size: 14px;
    }
    .block .price {
        font-size: 24px;
        margin-top: 0px;
    }
    
    .modal-body{
        padding: 20px;
    }

    .modal-footer, .modal-footer .container{
        padding: 5px 0px;
    }

    .dz-details img {
        max-width: 88px;
        height: 90px;
    }

    #dropzoneFileUpload .glyphicon-remove {
        left: 10px;
        top: -88px;
    }

    #Tabs {
        left: 33%;
    }

    #propertyDetailMapDiv sebm-google-map{
        height: 177px;
    }

    .ngxmdp .headertodaybtn{
        display: none !important;
    }

    .popover-infowindow { 
        margin-top: 240px !important; 
    }
}
@media screen and (max-width: 500px) and (min-width: 0px) {
    .navbar-toggle {
        padding: 9px 4px;
    }
    .title-3 {
        font-size: 14px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
    .block .blockImg {
        height: 95px;
        width: 100%;
    }
    .list_rental_block {
        height: 95px;
    }
    #googlemaps,
    #googlemap {
        height: 90% !important;
    }
    #matchingList {
        bottom: 5%;
        padding: 7px;
    }
    #matchingList span,
    #matchingList h6 {
        font-size: 12px;
    }
    #searchPropertyListing {
        top: 70px;
    }
    .customeText .form-control,
    .customeNumber .form-control {
        width: 75px;
    }
    #Tabs {
        left: 27%;
    }
    .prop-fac-div img {
        width: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    #propertyForm .has-feedback,
    #updatePropertyFrm .has-feedback {
        position: relative;
        left: 0px;
    }
    .propertyListTopSec{
        left: 22%;
    }
    .managePropertyTopSec{
        left: 20%;   
    }
    .managePropertyTopSec{
        font-size: 12px !important;
    }
    input[type=radio] + label,
    input[type=checkbox] + label {
        margin: 1px;
        padding: 4px 8px;
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) and (min-width: 0px) {
    
}